<%= render "form" %>

<div class="drinks-index">
	<% @drinks.each do |drink| %>
		<div class="col-sm-4">
			<%= link_to drink_path(drink) do %>
    		<div class="thumbnail">
     			<div class="row">
      			<div class="col-xs-5">
       				<%= image_tag drink.file.url %>
      			</div>
						<div class="col-xs-7">
			 				<div class="caption">
			  				<h4><%= drink.name %></h4>
								<p><%= drink.description %></p>
			 				</div>
						</div>
		 			</div>
	  		</div>
   		<% end %>
  	</div>
 	<% end %>
</div>


