<div class = "search-box">
<%= form_for :search, url: search_drinks_path, method: :get do |f| %>
<%= f.text_field :name, placeholder: "Thirst" %>
<%= f.submit class: "btn btn-primary" %>
<% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= @drink.name %></h4>
  </div>
  <div class="panel-body">
    <%= image_tag @drink.file.url, class: "thumbnail" %>
  	<h4>Description</h4>
  	<p>
  	  <%= @drink.description%>
  	</p>
  	<p>
  	  <%= link_to 'Back', drinks_path, class: "btn btn-default" %>
	</p>
  </div>
</div> 


