<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Exo+2:900' rel='stylesheet' type='text/css'>


<div id="wrapper">
  <div id="wheel">
    <div id="inner-wheel">
      <div class="sec"><span class="fa fa-star"></span></div>
      <div class="sec"><span class="fa fa-bolt"></span></div>
      <div class="sec"><span class="fa fa-heart"></span></div>
      <div class="sec"><span class="fa fa-fire"></span></div>
      <div class="sec"><span class="fa fa-tint"></span></div>
      <div class="sec"><span class="fa fa-trophy"></span></div>
    </div>                  
    <div id="spin">
      <div id="inner-spin"></div>
    </div>            
    <div id="shine"></div>
    </div>
    <div id="txt">text</div>
</div>

<input type="hidden" value="<%= @wheel.id%>" id="wheel-id"/>
<input type="hidden" value="<%= current_user.try(:id)%>" id="user-id"/>
<% @wheel.drinks.each_with_index do |drink, index| %>
  <input type="hidden" id="drink<%= index %>" data-id="<%= drink.id%>" data-url="<%= drink.file.url%>" data-description="<%= drink.description%>" value="<%= drink.name %>" />
<% end %>
